.abc
{
    height:5px;
    width: 5px;
    border-radius: 50%;
    animation: sparkles 2s ease-in-out infinite;
}

.card1
{
  
    height:100%;
    width: 100%;
    animation: sparkles 10s ease-in-out infinite; 
}
@keyframes sparkles {
    0%,
    10% {
      opacity: 1;
    }
    15% {
     
      box-shadow: 0.32476rem -2.1875rem 0 0rem #ff8080,
        -0.32476rem -1.8125rem 0 0rem #ffed80,
        1.91274rem -1.10998rem 0 0rem #ffed80,
        1.21459rem -1.38398rem 0 0rem #a4ff80,
        2.06039rem 0.80338rem 0 0rem #a4ff80, 
        1.83932rem 0.0867rem 0 0rem #80ffc8,
        0.65652rem 2.11178rem 0 0rem #80ffc8, 
        1.07901rem 1.4921rem 0 0rem #80c8ff,
        -1.24172rem 1.82996rem 0 0rem #80c8ff,
        -0.49382rem 1.77391rem 0 0rem #a480ff,
        -2.20492rem 0.17015rem 0 0rem #a480ff,
        -1.69479rem 0.71994rem 0 0rem #ff80ed,
        -1.50777rem -1.61779rem 0 0rem #ff80ed,
        -1.61955rem -0.87617rem 0 0rem #ff8080;
    }
  }
  